{{demos/md-cardlayout title="google-maps-addon"
                     description= "A simple wrapper around the google maps js"
                     button-link-label="View Demo"
                     material-icon="share"
                     cusotom_class="demo-card-wide"
                     button-link="/#/demos/googlemaps"}}
<div class="mdl-cell mdl-cell--6-col">
{{outlet}}
</div>
