{{#if isDetails}}
{{demos/md-cardlayout title="Google Maps Ember Addon"
                     description= "An Ember addon which is a simple wrapper around the googlemaps.js for easy usage in an ember application"
                     button-link-label="View Demo"
                     material-icon="share"
                     custom_class="demo-card-wide"
                     button-link="/#/demos/googlemaps"}}
{{/if}}
<div class="mdl-cell mdl-cell--6-col">
{{outlet}}
</div>
