{{#if isDetails}}
<div class="mdl-grid demo-content">
{{demos/md-cardlayout title="Google Maps Ember Addon"
                     description= "An Ember addon which is a simple wrapper around the googlemaps.js for easy usage in an ember application"
                     button-link-label="View Demo"
                     material-icon="share"
                     custom_class="demo-card-wide"
                     button-link="/#/demos/googlemaps"}}
{{demos/md-cardlayout title="Jquery Slider"
                      description= "Jquery plugin for a slider component."
                      button-link-label="View Demo"
                      material-icon="share"
                      custom_class="demo-card-wide jq-card"
                      button-link="/#/demos/jq-slide"}}
</div>                      
{{/if}}
{{outlet}}
