<div class="sticky-navbar">
  <div class="menu">Home</div>
  <div class="avatar">
    {{gravatar-image email='kingsam91@gmail.com'
                     size=30
    }}
  </div>

</div>
<div class="body">
{{outlet}}
</div>
